.App {
    font-family: cursive;
    text-align: left;
    width: 600px;
    margin: auto;
    padding: 1rem;
}

body {
    background-color: #581c87;
    color: #e9d5ff;
}

button {
    background-color: #f3e8ff;
    color: #a855f7;
    border-radius: 1rem;
    border: 1px solid #fff;
    padding: 0.5em 0.5em;
    width: 16%;
    margin: 10px 5px 5px 5px;
    font-size: x-large;
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.section {
    background-color: #f3e8ff;
    color: #a855f7;
    border-bottom-left-radius: 0.5em;
    border: 1px solid #fff;
    list-style: none;
    padding: 0.5em;
    margin: 10px 5px 10px 5px;
    width: 30%;
    text-align: left;
}